body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 1280px;
}
header {
  background-color: #445162;
  height: 323px;
  padding: 50px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 60px;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.headerContainer > div {
  flex-direction: column;
}
ul.header {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  list-style-type: none;
  padding: 0;
}
main article.about {
  padding: 50px;
  height: 417px;
  background-color: #ffffff;
}
main h2.grey {
  font-family: Arial, Helvetica, sans-serif;
  color: #445162;
  font-size: 30px;
}
main section.props {
  padding: 50px;
  height: 417px;
  background-color: #ffffff;
}
main section.props > h2.grey {
  text-align: center;
}